In [17]:
import pandas as pd
import numpy as np

In [35]:
pd.__version__

'1.3.5'

In [4]:
s1 = pd.Series([10,20,30,40,50])
s1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [16]:
s2 = pd.Series(['a','b','c','d'])
s2

0    a
1    b
2    c
3    d
dtype: object

In [19]:
s3 = pd.Series(range(10,14))
s3

0    10
1    11
2    12
3    13
dtype: int64

In [21]:
s4 = pd.Series(np.arange(10,14))
s4

0    10
1    11
2    12
3    13
dtype: int64

In [22]:
s5 = pd.Series([1,2,3,np.nan,6,8])
s5

0    1.0
1    2.0
2    3.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [23]:
s = pd.Series([95, 100, 88], index = ['홍길동', '이몽룡', '성춘향'])

In [25]:
s

홍길동     95
이몽룡    100
성춘향     88
dtype: int64

In [26]:
s.index

Index(['홍길동', '이몽룡', '성춘향'], dtype='object')

In [62]:
ser = pd.Series([9904312, 3448737, 289045, 2466052],
            index=["서울","부산","인천","대구"],
            cu)
ser.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [55]:
print(ser.name)

None

In [56]:
ser.name = '인구수'
ser

서울    9904312
부산    3448737
인천     289045
대구    2466052
Name: 인구수, dtype: int64

In [57]:
print(ser.name)

인구수

In [58]:
ser['서울']

9904312

In [59]:
ser[3], ser['대구'] # 시리즈에 없는 인덱스는 불가

(2466052, 2466052)

In [60]:
ser[[1,2]]

부산    3448737
인천     289045
Name: 인구수, dtype: int64

In [63]:
ser.서울

9904312

In [64]:
# 인덱스 재사용
s1 = pd.Series(np.arange(4), ser.index)
s1

서울    0
부산    1
인천    2
대구    3
dtype: int64

In [65]:
pd.Series([1,2,3])+4

0    5
1    6
2    7
dtype: int64

In [66]:
ser/1000000

서울    9.904312
부산    3.448737
인천    0.289045
대구    2.466052
dtype: float64

In [71]:
# 벡터화 인덱싱 
# 2500000보다 크고 5000000보다 작은 원소 추출
# True 원소만 추출

(ser > 2500000) & (ser < 5000000)

서울    False
부산     True
인천    False
대구    False
dtype: bool

In [79]:
ser[(ser > 25e5) & (ser < 50e5)]

부산    3448737
dtype: int64

---

In [80]:
s0 = pd.Series(np.arange(10), np.arange(10)+1)

In [81]:
s0

1     0
2     1
3     2
4     3
5     4
6     5
7     6
8     7
9     8
10    9
dtype: int64

In [85]:
s0 % 2 != 1

1      True
2     False
3      True
4     False
5      True
6     False
7      True
8     False
9      True
10    False
dtype: bool

In [88]:
s0[(s0 > 5) & (s0 < 8)]

7    6
8    7
dtype: int64

In [89]:
num_s1 = pd.Series([1,2,3,4], index=['a', 'b', 'c', 'd'])

In [90]:
num_s2 = pd.Series([5,6,7,8], index=['b', 'c', 'd','a'])

In [91]:
num_s3 = pd.Series([5,6,7,8], index=['e', 'b', 'f','g'])

In [92]:
num_s4 = pd.Series([1,2,3,4], index=['a', 'b', 'c','e'])

In [93]:
num_s3 + num_s4

a    NaN
b    8.0
c    NaN
e    9.0
f    NaN
g    NaN
dtype: float64

In [95]:
ser.items()

서울    9904312
부산    3448737
인천     289045
대구    2466052
dtype: int64

In [96]:
for k, v in ser.items():
    print(f'{k}={v}')

서울=9904312
부산=3448737
인천=289045
대구=2466052

In [97]:
s1 = pd.Series([1, 1, 2, 1, 2, 2, 2, 1, 1, 3, 3, 4, 5, 5, 7, np.NaN])

In [98]:
s1.size

16

In [99]:
len(s1)

16

In [100]:
s1.shape

(16,)

In [102]:
s1.mean()

2.6666666666666665

In [103]:
a = np.array([2,2,2,2,np.NaN])

In [106]:
print(a.mean()) 
# nan 포함시 nan으로 계산. series로 변환하고 다시 계산해야함.

nan

In [111]:
pd.date_range(start = '2021-10-07', periods = 4, freq = '2M')

DatetimeIndex(['2021-10-31', '2021-12-31', '2022-02-28', '2022-04-30'], dtype='datetime64[ns]', freq='2M')