In [26]:
import numpy as np
import pandas as pd
import math
from scipy.stats import *
import scipy as sp

# Jupyter Notebook의 출력을 소수점 이하 3자리로 제한
%precision 3
# Dataframe의 출력을 소수점 이하 3자리로 제한
pd.set_option('precision', 3)
# 여러개 한번에 출력
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

'%.3f'

In [3]:
import numpy as np
# numpy float 출력옵션 변경
# np.set_printoptions(precision=3)
# np.set_printoptions(precision=20, suppress=True)
# pd.options.display.float_format = '{:.2f}'.format
np.set_printoptions(formatter={'float_kind': lambda x: "{0:0.3f}".format(x)})

In [4]:
# 범위 : 최댓값 - 최솟값

np.random.seed(123)
data = np.random.normal(100, 20, size = 1000)
data[:10]

array([78.287, 119.947, 105.660, 69.874, 88.428, 133.029, 51.466, 91.422,
       125.319, 82.665])

In [5]:
np.min(data), np.max(data)

(35.37889984161376, 171.43158436052622)

In [9]:
np.max(data)-np.min(data)
np.ptp(data)

136.05268451891246

136.05268451891246

In [10]:
# 중간범위 : (최댓값-최솟값) /2
(np.max(data)-np.min(data))/2
np.ptp(data)/2

68.02634225945623

68.02634225945623

In [13]:
# 사분위간 범위 
np.quantile(data, 0.75) - np.quantile(data, 0.25)
iqr(data)

27.06844676167337

27.06844676167337

In [14]:
# 사분위수 편차 : 사분위간 범위 / 2
(np.quantile(data, 0.75) - np.quantile(data, 0.25))/2
(iqr(data))/2

13.534223380836686

13.534223380836686

In [18]:
# 편차
(data-np.mean(data)).sum()

-7.815970093361102e-12

In [23]:
# 분산 계산 : var()
x = [1,2,3,4,5]

np.var(x, ddof=1)

np.var(x)

np.array(x).var()
pd.Series(x).var(ddof=0)

2.5

2.0

2.0

2.0

In [24]:
# 표준편차 계산 : str()
x = [1,2,3,4,5]

np.std(x, ddof=1)

np.std(x)

np.array(x).std()
pd.Series(x).std(ddof=0)

1.5811388300841898

1.4142135623730951

1.4142135623730951

1.4142135623730951

In [25]:
# 변동계수 : 상대적인 흩어짐 정의
np.std(x) / np.mean(x)

0.47140452079103173

In [28]:
stats.variation(x)

0.47140452079103173

정규화

In [32]:
df = pd.read_csv('./data/ch2_scores_em.csv', index_col='student number')
df.head()

                english  mathematics
student number
1                    42           65
2                    69           80
3                    56           63
4                    41           63
5                    57           76

In [35]:
z1 = (df['english']-df['english'].mean())/df['english'].std()
z2 = (df['mathematics']-df['mathematics'].mean())/df['mathematics'].std()

z1.min(), z1.max()
z2.min(), z2.max()

(-2.1816743772942324, 2.104121873704727)

(-2.600313324789424, 1.796925844187208)

In [37]:
z1.mean(), z1.std()
z2.mean(), z2.std()

(-2.575717417130363e-16, 1.0)

(5.46229728115577e-16, 0.9999999999999998)

In [40]:
s1 = (df['english']-df['english'].min())/(df['english'].max()-df['english'].min())
s2 = (df['mathematics']-df['mathematics'].min())/(df['mathematics'].max()-df['mathematics'].min())

s1.min(), s1.max()
s2.min(), s2.max()

(0.0, 1.0)

(0.0, 1.0)

In [41]:
s1.mean(), s1.std()
s2.mean(), s2.std()

(0.5090476190476191, 0.23332887086429127)

(0.5913513513513514, 0.22741542171624235)

In [46]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
S = scaler.fit_transform(df)
pd.DataFrame(S, columns=df.columns, index=df.index).head()

                english  mathematics
student number
1                 0.119        0.216
2                 0.762        0.622
3                 0.452        0.162
4                 0.095        0.162
5                 0.476        0.514