In [9]:
import pandas as pd
import openpyxl
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"
import datetime as dt
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import rc
plt.rcParams["axes.unicode_minus"] = False 
rc("font", family="Arial Unicode MS") # Windows: Malgun Gothic 
# %matplotlib inline 
get_ipython().run_line_magic("matplotlib", "inline")

In [10]:
df = pd.read_csv("버스_출근퇴근_총_인원정보(최종).csv", index_col=0)
df

/var/folders/hr/y8znbyhd4058w4d5l14qqsv80000gn/T/ipykernel_34144/2041198187.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("버스_출근퇴근_총_인원정보(최종).csv", index_col=0)

,사용년월,노선번호,노선명,표준버스정류장ID,역명,경도,위도,출근,퇴근,총 이동량
0,201801,100,100번(하계동~용산구청),100000002,창경궁.서울대학교병원,126.996566,37.579183,2224,384,2608
1,201801,100,100번(하계동~용산구청),100000003,명륜3가.성대입구,126.998340,37.582671,1893,770,2663
2,201801,100,100번(하계동~용산구청),100000005,혜화동로터리,127.001744,37.586243,1491,281,1772
3,201801,100,100번(하계동~용산구청),100000102,원남동,126.997338,37.574533,2400,1424,3824
4,201801,100,100번(하계동~용산구청),100000108,종로5가.효제동,127.002230,37.574500,173,466,639
...,...,...,...,...,...,...,...,...,...,...
1834733,202112,중랑02,중랑02(진로아파트~한신아파트),106900025,새마을금고,127.097322,37.589095,729,119,848
1834734,202112,중랑02,중랑02(진로아파트~한신아파트),106900026,진주빌라.바다약국,127.100663,37.587773,638,9,647
1834735,202112,중랑02,중랑02(진로아파트~한신아파트),106900028,서일대정문,127.096023,37.587710,1807,32,1839
1834736,202112,중랑02,중랑02(진로아파트~한신아파트),106900029,서일대정문,127.095968,37.588072,150,967,1117
1834737,202112,중랑02,중랑02(진로아파트~한신아파트),106900030,IBK기업은행면목동지점,127.085010,37.587655,1561,174,1735

In [11]:
df_sum = df.pivot_table(index='사용년월',aggfunc='sum')
df_mean = df.pivot_table(index='사용년월',aggfunc='mean')
df_count = df.pivot_table(index='사용년월',aggfunc='count')

In [43]:
df_sum

                  경도            위도      총 이동량        출근        퇴근
사용년월
201801  4.769998e+06  1.410532e+06   77784911  36601611  41183300
201802  4.764919e+06  1.409030e+06   66828175  31430587  35397588
201803  4.799339e+06  1.419196e+06   84553932  40628863  43925069
201804  4.775329e+06  1.412110e+06   81517023  39641589  41875434
201805  4.772545e+06  1.411266e+06   82441577  39501121  42940456
201806  4.774448e+06  1.411830e+06   78194021  37323880  40870141
201807  4.776861e+06  1.412545e+06   83285292  39922944  43362348
201808  4.795410e+06  1.418030e+06   81515625  38628250  42887375
201809  4.779655e+06  1.413371e+06   75031366  35468446  39562920
201810  4.801872e+06  1.419957e+06   83872749  40573131  43299618
201811  4.819644e+06  1.425208e+06   83126226  40522498  42603728
201812  4.830938e+06  1.428544e+06   77733932  36983070  40750862
201901  4.789678e+06  1.416351e+06   77053288  36230934  40822354
201902  4.801482e+06  1.419855e+06   64916190  30102444  34813746
201903  4.797306e+06  1.418604e+06   81812191  39168767  42643424
201904  4.808976e+06  1.422054e+06   82618302  40263225  42355077
201905  4.802507e+06  1.420141e+06   83802361  40250827  43551534
201906  4.813303e+06  1.423334e+06   76637640  36496345  40141295
201907  4.821682e+06  1.425812e+06   82843898  39753694  43090204
201908  4.814189e+06  1.423595e+06   79400785  37297113  42103672
201909  4.813175e+06  1.423291e+06   76091605  36613728  39477877
201910  4.815719e+06  1.424042e+06   83051571  39999971  43051600
201911  4.816861e+06  1.424381e+06   80866476  39153956  41712520
201912  4.826386e+06  1.427194e+06   79600175  37918742  41681433
202001  4.837688e+06  1.430538e+06   71591377  33363293  38228084
202002  4.823976e+06  1.426484e+06   63856263  30485023  33371240
202003  4.851414e+06  1.434606e+06   55670138  26156221  29513917
202004  4.842395e+06  1.431933e+06   56821149  26527215  30293934
202005  4.842013e+06  1.431820e+06   60864362  28486414  32377948
202006  1.117206e+06  3.306315e+05   66393430  32296104  34097326
202007  3.207534e+05  9.484801e+04   70241694  34022302  36219392
202008  4.832762e+06  1.429061e+06   59783796  28465574  31318222
202009  4.844070e+06  1.432408e+06   57292053  27658071  29633982
202010  4.834797e+06  1.429662e+06   62047741  29775843  32271898
202011  4.829082e+06  1.427974e+06   63288069  30824755  32463314
202012  4.834799e+06  1.429663e+06   53407106  26096743  27310363
202101  4.828190e+06  1.427709e+06  105635800  50460402  55175398
202102  4.834424e+06  1.429546e+06   51157842  24247044  26910798
202103  4.898150e+06  1.448399e+06   64407784  31368825  33038959
202104  4.830217e+06  1.428306e+06   63304061  31050842  32253219
202105  4.836821e+06  1.430259e+06   60810665  29298365  31512300
202106  4.829332e+06  1.428047e+06   64860077  31853275  33006802
202107  4.841155e+06  1.431543e+06   62009838  30369517  31640321
202108  4.862247e+06  1.437784e+06   59462817  28765118  30697699
202109  4.848650e+06  1.433722e+06   58138938  28213360  29925578
202110  4.843960e+06  1.432327e+06   61683125  30046513  31636612
202111  4.865927e+06  1.438823e+06   65719553  32208518  33511035
202112  4.876082e+06  1.441825e+06   64956606  31852524  33104082

In [13]:
fig, ax = plt.subplots()

ax.plot(df_mean[])

SyntaxError: invalid syntax (3563216521.py, line 3)

In [24]:
df_202101 = pd.read_csv("2021년_버스노선별_정류장별_시간대별_승하차_인원_정보(01월).csv", encoding='cp949')
df_202101

,사용년월,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,...,19시하차총승객수,20시승차총승객수,20시하차총승객수,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,등록일자
0,202101,100,100번(하계동~용산구청),100000002,01002,창경궁.서울대학교병원,0,0,0,0,...,18,38,30,25,40,30,23,18,4,20210203
1,202101,100,100번(하계동~용산구청),100000003,01003,명륜3가.성대입구,0,0,0,0,...,82,79,63,68,64,43,52,11,10,20210203
2,202101,100,100번(하계동~용산구청),100000005,01005,혜화동로터리.여운형활동터,0,0,0,0,...,103,21,90,20,107,17,80,1,10,20210203
3,202101,100,100번(하계동~용산구청),100000102,01198,원남동,0,0,0,0,...,51,113,48,95,25,53,37,14,3,20210203
4,202101,100,100번(하계동~용산구청),100000108,01204,종로5가.효제동.김상옥의거터,8,6,0,0,...,27,50,19,70,29,34,15,11,13,20210203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39091,202101,9714,9714번(교하운정~서울역),229000856,63658,우리은행앞,1,27,2,23,...,205,2,97,3,182,2,90,0,62,20210203
39092,202101,9714,9714번(교하운정~서울역),229000857,63660,중앙공원,0,1,0,2,...,66,0,38,0,54,0,49,0,16,20210203
39093,202101,9714,9714번(교하운정~서울역),229000858,63675,책향기마을,1,26,0,10,...,173,0,99,1,182,0,163,1,43,20210203
39094,202101,9714,9714번(교하운정~서울역),229001662,63736,교하차고지,3,0,3,0,...,0,0,0,0,0,0,0,3,1,20210203
39095,202101,9714,9714번(교하운정~서울역),229001663,63737,교하차고지,0,0,0,2,...,4,0,0,0,5,0,2,0,0,20210203

In [25]:
df_202101.keys()

Index(['사용년월', '노선번호', '노선명', '표준버스정류장ID', '버스정류장ARS번호', '역명', '00시승차총승객수',
       '00시하차총승객수', '1시승차총승객수', '1시하차총승객수', '2시승차총승객수', '2시하차총승객수', '3시승차총승객수',
       '3시하차총승객수', '4시승차총승객수', '4시하차총승객수', '5시승차총승객수', '5시하차총승객수', '6시승차총승객수',
       '6시하차총승객수', '7시승차총승객수', '7시하차총승객수', '8시승차총승객수', '8시하차총승객수', '9시승차총승객수',
       '9시하차총승객수', '10시승차총승객수', '10시하차총승객수', '11시승차총승객수', '11시하차총승객수',
       '12시승차총승객수', '12시하차총승객수', '13시승차총승객수', '13시하차총승객수', '14시승차총승객수',
       '14시하차총승객수', '15시승차총승객수', '15시하차총승객수', '16시승차총승객수', '16시하차총승객수',
       '17시승차총승객수', '17시하차총승객수', '18시승차총승객수', '18시하차총승객수', '19시승차총승객수',
       '19시하차총승객수', '20시승차총승객수', '20시하차총승객수', '21시승차총승객수', '21시하차총승객수',
       '22시승차총승객수', '22시하차총승객수', '23시승차총승객수', '23시하차총승객수', '등록일자'],
      dtype='object')

In [26]:
df_202101.drop(columns=['00시승차총승객수',
       '00시하차총승객수', '1시승차총승객수', '1시하차총승객수', '2시승차총승객수', '2시하차총승객수', '3시승차총승객수',
       '3시하차총승객수', '4시승차총승객수', '4시하차총승객수', '5시승차총승객수', '5시하차총승객수', '6시승차총승객수',
       '6시하차총승객수', '7시승차총승객수',],inplace=True)
df_202101.keys()

Index(['사용년월', '노선번호', '노선명', '표준버스정류장ID', '버스정류장ARS번호', '역명', '7시하차총승객수',
       '8시승차총승객수', '8시하차총승객수', '9시승차총승객수', '9시하차총승객수', '10시승차총승객수',
       '10시하차총승객수', '11시승차총승객수', '11시하차총승객수', '12시승차총승객수', '12시하차총승객수',
       '13시승차총승객수', '13시하차총승객수', '14시승차총승객수', '14시하차총승객수', '15시승차총승객수',
       '15시하차총승객수', '16시승차총승객수', '16시하차총승객수', '17시승차총승객수', '17시하차총승객수',
       '18시승차총승객수', '18시하차총승객수', '19시승차총승객수', '19시하차총승객수', '20시승차총승객수',
       '20시하차총승객수', '21시승차총승객수', '21시하차총승객수', '22시승차총승객수', '22시하차총승객수',
       '23시승차총승객수', '23시하차총승객수', '등록일자'],
      dtype='object')

In [27]:
df_202101.drop(columns=['8시승차총승객수','9시승차총승객수','10시승차총승객수','11시승차총승객수', '11시하차총승객수', '12시승차총승객수', '12시하차총승객수',
       '13시승차총승객수', '13시하차총승객수', '14시승차총승객수', '14시하차총승객수', '15시승차총승객수',
       '15시하차총승객수', '16시승차총승객수', '16시하차총승객수',],inplace=True)
df_202101.keys()

Index(['사용년월', '노선번호', '노선명', '표준버스정류장ID', '버스정류장ARS번호', '역명', '7시하차총승객수',
       '8시하차총승객수', '9시하차총승객수', '10시하차총승객수', '17시승차총승객수', '17시하차총승객수',
       '18시승차총승객수', '18시하차총승객수', '19시승차총승객수', '19시하차총승객수', '20시승차총승객수',
       '20시하차총승객수', '21시승차총승객수', '21시하차총승객수', '22시승차총승객수', '22시하차총승객수',
       '23시승차총승객수', '23시하차총승객수', '등록일자'],
      dtype='object')

In [28]:
df_202101.drop(columns=['17시하차총승객수','18시하차총승객수','19시하차총승객수','20시하차총승객수','21시승차총승객수', '21시하차총승객수', '22시승차총승객수', '22시하차총승객수',
       '23시승차총승객수', '23시하차총승객수', '등록일자'],inplace=True)
df_202101.keys()

Index(['사용년월', '노선번호', '노선명', '표준버스정류장ID', '버스정류장ARS번호', '역명', '7시하차총승객수',
       '8시하차총승객수', '9시하차총승객수', '10시하차총승객수', '17시승차총승객수', '18시승차총승객수',
       '19시승차총승객수', '20시승차총승객수'],
      dtype='object')

In [37]:
df_202101.sum()

사용년월                                                 7901340696
노선번호          1001001001001001001001001001001001001001001001...
노선명           100번(하계동~용산구청)100번(하계동~용산구청)100번(하계동~용산구청)100번...
표준버스정류장ID                                         5000425488527
버스정류장ARS번호    0100201003010050119801204012050121201219012200...
역명            창경궁.서울대학교병원명륜3가.성대입구혜화동로터리.여운형활동터원남동종로5가.효제동.김...
7시하차총승객수                                                5381442
8시하차총승객수                                                9106267
9시하차총승객수                                                6230333
10시하차총승객수                                               4512159
17시승차총승객수                                               7408046
18시승차총승객수                                               8819085
19시승차총승객수                                               6341229
20시승차총승객수                                               5019339
dtype: object

In [40]:
df_202101.sum().iloc[6:].sum()
# 202101	4.828190e+06	1.427709e+06	105635800	50460402	55175398

52817900

In [44]:
52817900*2

105635800