In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("지하철_시간대별_인원정보(위치정보_최종).csv", encoding='cp949', index_col=0)

In [6]:
df

,사용월,호선명,지하철역,07시-08시 하차인원,08시-09시 하차인원,09시-10시 하차인원,17시-18시 승차인원,18시-19시 승차인원,19시-20시 승차인원,lat,lng
0,201812,01호선,동대문,12351,26881,29182,39400,34293,24070,37.571420,127.009745
1,201812,01호선,동묘앞,9730,25609,17526,39779,26478,12439,37.572627,127.016429
2,201812,01호선,서울,96780,212724,157731,169677,232724,137205,37.554648,126.972559
3,201812,01호선,시청,62827,182997,86988,83234,154545,77485,37.564718,126.977108
4,201812,01호선,신설동,25436,68570,39791,44388,68081,30156,37.575297,127.025087
...,...,...,...,...,...,...,...,...,...,...,...
28728,202101,중앙선,원덕,125,291,221,426,281,128,37.468667,127.547052
28729,202101,중앙선,중랑,2398,4711,3538,5209,5435,3414,37.595031,127.075876
28730,202101,중앙선,지평,58,72,0,36,25,104,37.476674,127.629756
28731,202101,중앙선,팔당,957,1723,2584,2399,2056,1440,37.547597,127.243749
28732,202101,중앙선,회기,20140,36447,23753,38726,33776,18974,37.589977,127.058031

In [13]:
sub_station_loc = df.pivot_table(index=['호선명','지하철역'],values=['lat','lng']).reset_index()

In [17]:
sub_station_loc.rename({'호선명':'line', '지하철역':'name'},axis=1,inplace=True)
sub_station_loc

     line     name        lat         lng
0    01호선  가산디지털단지  37.481072  126.882343
1    01호선       간석  37.464737  126.694181
2    01호선       개봉  37.494594  126.858680
3    01호선       관악  37.419232  126.908706
4    01호선       광명  37.416182  126.884466
..    ...      ...        ...         ...
609   중앙선       원덕  37.468667  127.547052
610   중앙선       중랑  37.595031  127.075876
611   중앙선       지평  37.476674  127.629756
612   중앙선       팔당  37.547597  127.243749
613   중앙선       회기  37.589977  127.058031

[614 rows x 4 columns]

In [19]:
sub_station_loc.to_csv('subway_station_coordinate.csv')