In [1]:
import numpy as np
import pandas as pd

### 데이터 프레임 생성

**리스트로 데이터 프레임 만들기**
* DataFrame([[리스트],[리스트]])
* 각 리스트는 한 행으로 구성됨.
* 행의 원소 개수가 다르면 None 값으로 저장

In [4]:
df = pd.DataFrame([['a','b','c'],['a','a','g'],['a','a']])
df

   0  1     2
0  a  b     c
1  a  a     g
2  a  a  None

In [7]:
# 딕셔너리로 데이터 프레임 생성
df1 = pd.DataFrame({'A':(90,80,70),'B':(85,98,75), 
                    'C':(88,99,77), 'D':(87, 89, 86)})
df1

    A   B   C   D
0  90  85  88  87
1  80  98  99  89
2  70  75  77  86

In [11]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2000002],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율":[0.0283, 0.0163, 0.0982,0.0141]
}
columns = ['지역', '2015', '2010', '2005', '2000', '2010-2015 증가율']
index = ['서울','부산','인천','대구']

In [12]:
df2 = pd.DataFrame(data, index = index, columns = columns)
df2

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2000002  2456016  2473990         0.0141