In [2]:
import pandas as pd

In [9]:
df_출퇴근 = pd.read_csv('버스_출근퇴근_총_인원정보_2101수정완료.csv', index_col=0)
df_지하철 = pd.read_csv('버스_근처_지하철(최종).csv', usecols=(1,8,9,10,11,12))
# df_출퇴근
df_지하철.head(2)

/var/folders/hr/y8znbyhd4058w4d5l14qqsv80000gn/T/ipykernel_35751/1924582625.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_출퇴근 = pd.read_csv('버스_출근퇴근_총_인원정보_2101수정완료.csv', index_col=0)

      정류장_ID  line name        lat         lng  distance
0  500000286  04호선   정왕  37.351735  126.742989  4.556560
1  500000285  04호선   정왕  37.351735  126.742989  4.697111

In [10]:
df_출퇴근.keys()

Index(['사용년월', '노선번호', '노선명', '표준버스정류장ID', '역명', '경도', '위도', '출근', '퇴근',
       '총 이동량'],
      dtype='object')

In [11]:
len(df_출퇴근)

1834738

In [12]:
df_지하철.keys()

Index(['정류장_ID', 'line', 'name', 'lat', 'lng', 'distance'], dtype='object')

In [13]:
df_지하철.rename(columns={"정류장_ID":"표준버스정류장ID"}, inplace=True)

In [17]:
df_near_subway = pd.merge(df_출퇴근,df_지하철)
df_near_subway
df_near_subway.to_csv("버스_출근퇴근_총_인원정보와_근처_지하철_2101수정완료.csv") # 참고로 마을버스 제외, 근처 지하철 정보 없는 경우 제외됨

In [15]:
df_near_subway.keys()

Index(['사용년월', '노선번호', '노선명', '표준버스정류장ID', '역명', '경도', '위도', '출근', '퇴근',
       '총 이동량', 'line', 'name', 'lat', 'lng', 'distance'],
      dtype='object')

In [16]:
len(df_near_subway)

1490531

In [18]:
df_near_subway

,사용년월,노선번호,노선명,표준버스정류장ID,역명,경도,위도,출근,퇴근,총 이동량,line,name,lat,lng,distance
0,201801,100,100번(하계동~용산구청),100000002,창경궁.서울대학교병원,126.996566,37.579183,2224,384,2608,04호선,혜화,37.582336,127.001844,0.582445
1,201801,710,710번(상암차고지~수유역),100000002,창경궁.서울대학교병원,126.996566,37.579183,1278,781,2059,04호선,혜화,37.582336,127.001844,0.582445
2,201801,160,160번(도봉산~온수동),100000002,창경궁.서울대학교병원,126.996566,37.579183,1440,1265,2705,04호선,혜화,37.582336,127.001844,0.582445
3,201801,162,162번(정릉~여의도),100000002,창경궁.서울대학교병원,126.996566,37.579183,2205,986,3191,04호선,혜화,37.582336,127.001844,0.582445
4,201801,151,151번(우이동~중앙대),100000002,창경궁.서울대학교병원,126.996566,37.579183,1790,1352,3142,04호선,혜화,37.582336,127.001844,0.582445
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1490526,202112,1017,1017번(월계동~상왕십리),105000559,e편한세상청계센트럴포레아파트,127.030252,37.570682,324,122,446,01호선,신설동,37.575297,127.025087,0.685960
1490527,202112,241,241번(중랑차고지~논현역),105000559,e편한세상청계센트럴포레아파트,127.030252,37.570682,603,111,714,01호선,신설동,37.575297,127.025087,0.685960
1490528,202112,202,202번(불암동~후암동),105000559,e편한세상청계센트럴포레아파트,127.030252,37.570682,753,692,1445,01호선,신설동,37.575297,127.025087,0.685960
1490529,202112,7728,7728번(대화동~신촌),218000361,DMC두산위브더퍼스트,126.898315,37.609871,607,525,1132,06호선,구산,37.611377,126.917270,1.678049
1490530,202112,7728,7728번(대화동~신촌),218000360,DMC두산위브더퍼스트,126.898568,37.610063,154,63,217,06호선,구산,37.611377,126.917270,1.653851