In [2]:
import pandas as pd

In [21]:
df_출퇴근 = pd.read_csv('버스_출근퇴근_총_인원정보(최종).csv', index_col=0)
df_지하철 = pd.read_csv('버스_근처_지하철(최종).csv', usecols=(1,8,9,10,11,12))
# df_출퇴근
df_지하철.head(2)

/var/folders/hr/y8znbyhd4058w4d5l14qqsv80000gn/T/ipykernel_17310/2826206764.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_출퇴근 = pd.read_csv('버스_출근퇴근_총_인원정보(최종).csv', index_col=0)

      정류장_ID  line name        lat         lng  distance
0  500000286  04호선   정왕  37.351735  126.742989  4.556560
1  500000285  04호선   정왕  37.351735  126.742989  4.697111

In [22]:
df_출퇴근.keys()

Index(['사용년월', '노선번호', '노선명', '표준버스정류장ID', '역명', '경도', '위도', '출근', '퇴근',
       '총 이동량'],
      dtype='object')

In [27]:
len(df_출퇴근)

1834738

In [23]:
df_지하철.keys()

Index(['정류장_ID', 'line', 'name', 'lat', 'lng', 'distance'], dtype='object')

In [25]:
df_지하철.rename(columns={"정류장_ID":"표준버스정류장ID"}, inplace=True)

In [30]:
df_near_subway = pd.merge(df_출퇴근,df_지하철)
df_near_subway
df_near_subway.to_csv("버스_출근퇴근_총_인원정보와_근처_지하철(최종).csv") # 참고로 마을버스 제외, 근처 지하철 정보 없는 경우 제외됨

In [31]:
df_near_subway.keys()

Index(['사용년월', '노선번호', '노선명', '표준버스정류장ID', '역명', '경도', '위도', '출근', '퇴근',
       '총 이동량', 'line', 'name', 'lat', 'lng', 'distance'],
      dtype='object')

In [32]:
len(df_near_subway)

1488704